BOT_TOKEN=6666666
DB_URL=postgresql+asyncpg://test:test@test:5432/db
OPENAI_TOKEN="6666"
PROXYAPI_URL=https://api.proxyapi.ru/openai/v1
POSTGRES_DB=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres